.MyCarouselItem {
  max-height: 600px;
  width: 100%;
  border-radius: 50%;
}

.MyCarousel {
  width: 100%;
}

.d-block {
  width: 100%;
}

.carouselCaption {
  font-size: 23px;
  background-color: black;
  opacity: 0.5;
}
