.MyCarouselItem {
  max-height: 600px;
  width: 100%;
  border-radius: 50%;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
}

.MyCarousel {
  width: 100%;
}

.d-block {
  width: 100%;
}

.carouselCaption {
  font-size: 23px;
  background-color: black;
  opacity: 0.5;
}

@media screen and (max-width: 1150px) {
  .MyCarouselItem {
    max-height: 175px;
    width: 100%;
    border-radius: 50%;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
  }
}
